<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PsyShield</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="icon" type="image/png" th:href="@{/misc/psyshield_tab_icon.png}">
        <style>
            body {
                background-image: url('/misc/psyshield_graph.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <h1>Spring Boot, Python - Semantic Search</h1>
        <button id="publicnodes" onclick="scrollToId('privatenodes')" class="btn btn-seek">Bottom</button>
        <div class="header-row">
            <h3>Enter search query</h3>
            <button id="openExitPopup" class="btn btn-exit">⏻</button>
        </div>
        <div class="dropdown-container">
            <button type="button" class="btn btn-insert" id="submitBtn">Clusters ▼</button>
            <div class="dropdown-content">
                <form id="sliderForm" th:action="@{/index}" method="post">
                    <div class="slider-group">
                        <label>X: <span id="xVal">2</span></label>
                        <input type="range" name="numhops" id="xSlider" min="1" max="5" value="2">
                    </div>
                    <div class="slider-group">
                        <label>Y: <span id="yVal">30</span></label>
                        <input type="range" name="numneighs" id="ySlider" min="3" max="40" value="15">
                    </div>
                    <input type="hidden" name="args" id="argsInput"/>
                    <input type="hidden" name="useraction" value="9"/>
                </form>
            </div>
        </div>
        <div id="exitform" class="exitpopup">
            <div class="exitpopup-content button-row">
                <form action="/index" method="post">
                    <input type="hidden" name="args" value="">
                    <input type="hidden" name="useraction" value="5">
                    <button id="SaveAndExit" class="btn btn-save">SAVE</button>
                </form>
                <form action="/index" method="post">
                    <input type="hidden" name="args" value="">
                    <input type="hidden" name="useraction" value="6">
                    <button id="NoSaveAndExit" class="btn btn-nosave">DON'T SAVE</button>
                </form>
                <button id="BulkInputBtn"
                        type="button"
                        onclick="document.getElementById('newEntries').style.display = ''; document.getElementById('exitform').style.display = 'none';"
                        class="btn btn-bulkinput">Bulk</button>
                <button id="closeExitPopup" class="btn btn-cancel">ⓧ</button>
            </div>
        </div>
        <form th:action="@{/index}" method="post">
            <input class="large-input" type="text" name="args" th:value="${#lists.isEmpty(query_result) ? '' : query_result[0].values[2]}"/>
            <input type="hidden" name="useraction" value="1"/>
            <button type="submit" onclick="window.sessionStorage.setItem('scrollY', window.scrollY); this.form.submit(); this.disabled=true;" class = "btn btn-insert">Submit</button>
        </form>

        <span id="newentryURL"
              onclick="navigator.clipboard.writeText(this.innerText)">
              <a th:href="${query_result != null and !#lists.isEmpty(query_result) and query_result[0].values.size() > 9 ? query_result[0].values[9] : ''}"
                  th:text="${query_result != null and !#lists.isEmpty(query_result) and query_result[0].values.size() > 9 ? query_result[0].values[9] : ''}">
              </a>
        </span>

        <form id="newEntries" th:action="@{/index}" method="post" style="display:none;">
            <label for="content">List of new (url desc)</label><br>
            <textarea id="content" name="args" style="width:50%; min-height:50px;"></textarea>
            <input type="hidden" name="useraction" value="7"/>
            <button type="submit" onclick="this.form.submit();">Submit</button>
        </form>
        <div th:if="${new_entries != null and #lists.size(new_entries) > 0}">
            <form id="newentrieslist" th:action="@{/index}" method="post">
                <input type="hidden" name="args" id="newentrieslistargs"/>
                <div class="scroll-box">
                    <ul>
                        <li th:each="item, stat : ${new_entries}">
                            <input type="hidden" name="useraction" value="8"/>
                            <span
                                    th:data-firstword="${item != null ? #strings.arraySplit(item,' ')[0] : ''}"
                                    th:text="${item}"
                                    th:onclick="|document.getElementById('newentrieslistargs').value=${stat.index};
                                    document.getElementById('newentrieslist').submit();|">
                            </span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div th:if="${query_result != null and #lists.size(query_result) > 0}">
            <div style="text-align: center; font-size: 24px; font-family: 'Roboto', sans-serif;">
                <i>clustering score: <span th:text="${query_result[0].values[5]}"></span></i>
            </div>
            <table>
                <thead th:style="'background-color:rgb(50,50,150); color:rgb(255,255,255)'">
                <tr>
                    <th>URL</th>
                    <th>description</th>
                    <th>in_knn size</th>
                    <th>norm. pagerank</th>
                    <th th:if="${query_result[0].values[0] == '-1'}">
                        cluster size
                    </th>
                </tr>
                <tr th:if="${query_result[0].values[0] != '' && query_result[0].values[0] != '-1'}">
                    <td>
                        <a class="custom-link" th:href="${query_result[0].values[1]}" th:text="${query_result[0].values[7]}"></a>
                    </td>
                    <td class="rephrasedropdownRow">
                        <p>[[${query_result[0].values[2]}]]</p>
                    </td>
                    <td class="rephrasedropdownRow">
                        <p>[[${query_result[0].values[3]}]]</p>
                    </td>
                    <td class="rephrasedropdownRow">
                        <p>[[${query_result[0].values[4]}]]</p>
                    </td>
                </tr>
                <!-- Hidden expandable row -->
                <tr id="rephrasedropdown" th:style="${query_result[0].values[10] == ''} ? 'display:none;' : ''">
                    <td colspan="2">
                        <form th:action="@{/index}" method="post">
                            <div class="rephrase-container">
                                <input type="text" id="rephraseargs" th:name="args"/>
                                <input type="hidden" id="rephraseaction" name="useraction" value="10"/>
                                <input type="hidden" id="rephrasefield" name="updatedfield" value="0"/>
                                <div class="button-group">
                                    <button type="submit"
                                            onclick="submitrephrase('rephrasedropdown', '0')">
                                        url
                                    </button>
                                    <button type="submit"
                                            onclick="submitrephrase('rephrasedropdown', '1')">
                                        phrase
                                    </button>
                                    <button type="submit"
                                            onclick="submitrephrase('rephrasedropdown', '2')">
                                        rephrase
                                    </button>
                                    <button type="submit"
                                            onclick="submitrephrase('rephrasedropdown', '3')">
                                        show embedding
                                    </button>
                                </div>
                                <p th:if="${query_result[0].values[10] != ''}"
                                   th:text="${query_result[0].values[10]}">
                                </p>
                            </div>
                        </form>
                    </td>
                </tr>
                </thead>
<!--                output[0] = (int id, string url, string description, int in_knn_length, float pagerank, float triangle_mesh_fraction, cansave, batch insert url) [details of_node]-->
<!--                output[1:] = (int id, string url, string description, int in_knn_length, float pagerank, mutual knn, cluster size)-->
                <tbody>
                    <tr th:each="query_row, iterStat : ${query_result}" th:if="${!iterStat.first}">
                        <td th:class="${query_row.values[5] == '1'} ? 'same_cluster' : 'different_cluster'">
                            <a th:href="${query_row.values[1]}" th:text="${query_row.values[6]}"></a>
                        </td>
                        <td th:class="${query_row.values[5] == '1'} ? 'same_cluster' : 'different_cluster'"
                            onclick="this.querySelector('form').submit(); this.onclick=null;" style="cursor:pointer;">
                            <form th:action="@{/index}" method="post">
                                <input type="hidden" name="args" th:attr="value = ${query_row.values[0]}"/>
                                <input type="hidden" name="useraction" value="0"/>
                                <span th:text="${query_row.values[2]}"></span>
                            </form>
                        </td>
                        <td th:class="${query_row.values[5] == '1'} ? 'same_cluster' : 'different_cluster'">
                            <p th:text="${query_row.values[3]}"></p>
                        </td>
                        <td th:class="${query_row.values[5] == '1'} ? 'same_cluster' : 'different_cluster'">
                            <p th:text="${query_row.values[4]}"></p>
                        </td>
                        <td th:if="${query_result[0].values[0] == '-1'}"
                            th:text="${query_row.values[7]}"
                            th:class="${query_row.values[5] == '1'} ? 'same_cluster' : 'different_cluster'">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button id="privatenodes" onclick="scrollToId('publicnodes')" class="btn btn-seek">Top</button>
        <table class="darktable">
            <tbody>
                <th:block th:each="slice, stat : ${privatenodetags}">
                    <tr
                            th:data-hasdetails="${slice.values[3] != ''}"
                            th:data-id="'privembed-' + ${stat.index}"
                            onclick="rowClick(this)">
                        <td>
                            <form th:action="@{/index}" method="post">
                                <input type="hidden" id="privatenodesclicked" name="args" th:value="'0 ' + ${slice.values[0]}"/>
                                <input type="hidden" name="useraction" value="12"/>
                                <span th:text="${slice.values[1]}"></span>
                                <span th:text="${slice.values[2]}"></span>
                            </form>
                        </td>
                    </tr>
                    <tr th:style="${slice.values[4] == '1'} ? '' : 'display:none;'" th:id="'privembed-' + ${stat.index}" class="highlight">
                        <td colspan="2" th:text="${slice.values[3]}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div style="display:flex; width:100%; margin-top:10px;">
            <button th:if="${!#lists.isEmpty(query_result) and query_result[0].values[0] == ''}" onclick="openPopup()" style="flex:1;" class="btn btn-insert">Insert</button>
            <!-- Popup -->
            <div id="popup" style="display:none; position:fixed; top:30%; left:30%; background:#fff; border:1px solid #ccc; padding:20px; padding-right:10px; z-index:1000;">
                <p th:text="${#lists.isEmpty(query_result) ? '' : query_result[0].values[2]}" style="font-style: italic;"></p>
                <form th:action="@{/index}" method="post" onsubmit="appendStr(event)" class="button-row">
                    <!-- Input field -->
                    <input type="text" id="args" name="args" placeholder="enter URL"/>

                    <!-- Hidden field with Thymeleaf value -->
                    <input type="hidden" id="desc" th:value="${#lists.isEmpty(query_result) ? '' : query_result[0].values[2]}" />
                    <input type="hidden" name="useraction" value="2"/>
                    <!-- Buttons -->
                    <button type="submit" class="btn btn-save">Submit</button>
                    <button type="button" onclick="closePopup()" class="btn btn-cancel">ⓧ</button>
                </form>
            </div>
            <form th:if="${!#lists.isEmpty(query_result) and query_result[0].values[0] != ''}" th:action="@{/index}" method="post" style="flex:1;">
                <input type="hidden" name="args" th:value="${#lists.isEmpty(query_result) ? '' : query_result[0].values[0]}"/>
                <input type="hidden" name="useraction" value="3"/>
                <button type="submit" style="width:100%;" class="btn btn-delete">Delete</button>
            </form>
            <form th:if="${!#lists.isEmpty(query_result)}" th:action="@{/index}" method="post" style="flex:1;">
                <input type="hidden" name="args" value=""/>
                <input type="hidden" name="useraction" value="4"/>
                <button type="submit" style="width:100%;" class="btn btn-save">Save</button>
            </form>
        </div>
        <div style="text-align:right;" th:text="'Number of embeddings: ' + (${#lists.isEmpty(query_result) ? '' : query_result[0].values[8]})"></div>
        <script>
            function openPopup() {
              document.getElementById("popup").style.display = "block";
              document.getElementById("args").value = document.getElementById("newentryURL").innerText;
            }
            function closePopup() {
              document.getElementById("popup").style.display = "none";
            }
            function appendStr(event) {
              const input = document.getElementById("args");
              const desc = document.getElementById("desc").value;

              // Concatenate and assign back to args
              input.value = input.value + ' ' + desc;

              // Submit form with updated args
              form.submit();
            }
            const exitpopup = document.getElementById("exitform");
            const openexitBtn = document.getElementById("openExitPopup");
            const closeexitBtn = document.getElementById("closeExitPopup");

            openexitBtn.onclick = () => exitpopup.style.display = "block";
            closeexitBtn.onclick = () => exitpopup.style.display = "none";

            // POST request buttons
            document.getElementById("SaveAndExit").onclick = () => {
              fetch("/index", { method: "POST" })
                .then(res => alert("saved to db and closed connection"))
                .catch(err => console.error(err));
            };
            document.querySelectorAll(".rephrasedropdownRow").forEach(td => {
<!--                console.log("called");-->
                td.addEventListener("click", () => toggleRow("rephrasedropdown"));
            });
            document.getElementById("NoSaveAndExit").onclick = () => {
              fetch("/index", { method: "POST" })
                .then(res => alert("POST 2 sent"))
                .catch(err => console.error(err));
            };
            document.addEventListener("DOMContentLoaded", function() {
                const xSlider = document.getElementById("xSlider");
                const ySlider = document.getElementById("ySlider");
                const xVal = document.getElementById("xVal");
                const yVal = document.getElementById("yVal");
                const submitBtn = document.getElementById("submitBtn");
                const form = document.getElementById("sliderForm");
                const argsInput = document.getElementById("argsInput");
                console.log(xSlider);

                // Initialize values
                xVal.textContent = xSlider.value;
                yVal.textContent = ySlider.value;

                // Update values
                xSlider.addEventListener("input", function() {
                    xVal.textContent = xSlider.value;
                });

                ySlider.addEventListener("input", function() {
                    yVal.textContent = ySlider.value;
                });

                // Submit
                submitBtn.addEventListener("click", function() {
                    argsInput.value = xSlider.value + " " + ySlider.value;
                    form.submit();
                });
            });
            function toggleRow(row) {
                const details = document.getElementById(row);
                if(details.style.display==='none')
                    document.getElementById("rephraseargs").value = "";
                details.style.display = details.style.display === 'none' ? '' : 'none';
            }
            function submitrephrase(row, prefixFlag) {
                window.sessionStorage.setItem("scrollY", window.scrollY);
                const a = document.getElementById("rephraseargs").value;
                document.getElementById("rephrasefield").value = prefixFlag;
                const details = document.getElementById(row);
                details.style.display = details.style.display === 'none' ? '' : 'none';
                toggleRow('rephrasedropdown');
                console.log("is url/desc?", (prefixFlag=='0'||prefixFlag=='1'));
                if(prefixFlag=='0'||prefixFlag=='1') {
                    document.getElementById("rephraseargs").value = prefixFlag + " " + a;
                    document.getElementById("rephraseaction").value = 11;
                }
                else if(prefixFlag=='2') {
                    document.getElementById("rephraseargs").value = a;
                    document.getElementById("rephraseaction").value = 10;
                }
                else if(prefixFlag=='3') {
                    document.getElementById("rephraseargs").value = 1
                    document.getElementById("rephraseaction").value = 12;
                    if(a!='')
                        toggleRow('rephrasedropdown');
                }
            }
            function scrollToId(id) {
                document.getElementById(id)
                        .scrollIntoView({ behavior: "smooth" });
            }
            function togglePrivEmbed(index) {
                const row = document.getElementById(index);
                if (!row) return;
                row.style.display =
                    row.style.display === "none" ? "" : "none";
            }
            function rowClick(row) {
                window.sessionStorage.setItem("scrollY", window.scrollY);
                const temp = row.querySelector("input[name='args']").value;
                if (row.dataset.hasdetails === "true")
                    togglePrivEmbed(row.dataset.id);
                else {
                    let states = "";
                    document.querySelectorAll('tr[id^="privembed-"]').forEach(privrow => {
                        states += (privrow.style.display === "none") ? "0" : "1";
                    });
                    row.querySelector("input[name='args']").value = temp + " " + states;
                    console.log(row.querySelector("input[name='args']").value);
                    row.querySelector("form").submit();
                }
            }
            window.addEventListener("load", () => {
                const y = sessionStorage.getItem("scrollY");
                if (y !== null) {
                    window.scrollTo(0, parseInt(y));
                    sessionStorage.removeItem("scrollY");
                }
            });
        </script>
    </body>
</html>