<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello Page</title>
    </head>
    <body>
        <h1>Spring Boot</h1>
        <button onclick="location.href='/home'">home</button>
        <button onclick="location.href='/parameter?name=guest'">parameter</button>
        <button onclick="location.href='/form'">form</button>
        <button onclick="location.href='/form?name=insta'">instagram</button>
        <h3 th:text="${message}">Placeholder text</h3>
        <h2>Usernames</h2>
        <ul>
            <li th:each="user : ${userlist}">
                <i th:text="${user.name}">Title</i>
            </li>
        </ul>
    </body>
</html>
